@page "/app/md-doc/{**path=index.md}"
@{
    var request = this.Request;
    var currentPath = this.ViewBag.currentPath as string;
    var routeValuesJson = this.RouteData.Values.ToJson(true);
}
<div class="card m-3">
    <h5 class="card-header">@currentPath</h5>
    <div class="card-body">
        <p>@this.ViewContext.ExecutingFilePath</p>
        <pre><code class="language-json">@Html.Raw(routeValuesJson)</code></pre>
    </div>
</div>
