@page
@{
    var systemdSetting = SystemdSetting.CreateDefault();
    var currentPath = this.ViewBag.currentPath as string;
    //var dynamicVo = new
    //{
    //    Title = "abc",
    //    CreateAt = DateTime.Now
    //};
}
<div class="card m-3">
    <h5 class="card-header">@currentPath</h5>
    <div class="card-body">
        @this.ViewContext.ExecutingFilePath
    </div>
</div>
<hr/>
<partial name="_Systemd" , model="systemdSetting"></partial>