@page
@using System.IO;
@{
    var systemdSetting = SystemdSetting.CreateDefault();
    var currentPath = this.ViewBag.currentPath as string;
    //var dynamicVo = new
    //{
    //    Title = "abc",
    //    CreateAt = DateTime.Now
    //};

    var vo = SystemdSetting.CreateDefault();
    var title = "systemd服务说明";

    var htmlContent = "";
    using (var sw = new StringWriter())
    {
        var partialHtml = await Html.PartialAsync("_Systemd", vo);
        partialHtml.WriteTo(sw, this.HtmlEncoder);
        var mdContent = sw.ToString();
        //todo: save to md or script file
        htmlContent = Markdig.Markdown.ToHtml(mdContent);
    }
}
<article class="blog-post">
    <h2 class="blog-post-title">@title</h2>
    <p class="blog-post-meta">
        <span style="color: cornflowerblue;">
            <i class="bi-alarm"></i>
            @DateTime.Now
        </span>
    </p>
    <hr>
    @Html.Raw(htmlContent)

</article>