@page "/app/gen-doc/{**file_name}"
@{
    var file_name = "";
    if (this.RouteData.Values.TryGetValue("file_name", out var value))
    {
        if (value != null)
        {
            file_name = value.ToString();
        }
    }

    var currentPath = this.ViewBag.currentPath as string;
    var rootDir = MyAppContext.Instance.GetRuntimeStaticDirectory("generate-files");
    var rootDirInfo = new System.IO.DirectoryInfo(rootDir);
    if (!rootDirInfo.Exists)
    {
        <p>runtime dir not exist: @rootDirInfo.FullName</p>
        return;
    }

    var theAppSetting = this.ViewBag.theAppSetting as TheAppSetting;
    var rootPath = PageMenuTree.CombineHerf(theAppSetting.PathBase, "app");

    var rootMenuTree = PageMenuTreeHelper.Instance.LoadForStaticFiles(rootPath, "gen-doc", rootDirInfo);
    var currentMenuTree = rootMenuTree.GetAllDescendants().FirstOrDefault(x => x.Herf.MyEquals(currentPath)) ?? rootMenuTree;
    var theEntryModel = new { rootMenuTree, currentMenuTree };

    ViewBag.rootMenuTree = rootMenuTree;
    ViewBag.currentMenuTree = currentMenuTree;
}
@section Styles {
    <link href="~/app/css/blog.css" rel="stylesheet" />
}
<partial name="EmbedFile/_Entry" model="theEntryModel"></partial>