@{
    //todo: auto page menu
}
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/App/Sys/AppInfo/Index">AppInfo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/App/Demo/Empty/Index">Empty</a>
        </li>
    </ul>
</div>