@page
@{
}
<div class="layui-card layui-panel">
    <div class="layui-card-header">
    </div>
    <div class="layui-card-body">
        <h2>@this.ViewContext.ExecutingFilePath</h2>        
    </div>
</div>