@page
@{
    var request = this.Request;
    var currentPath = $"{request.PathBase}{request.Path}";
}
<div class="card m-3">
    <h5 class="card-header">@currentPath</h5>
    <div class="card-body">
        @this.ViewContext.ExecutingFilePath
    </div>
</div>

<vc:card header="Foo1" body="Hello"></vc:card>

@await Component.InvokeAsync("Card",
                     new {
                         Header = "Foo2",
                         Body = "Hello "+DateTime.Now.ToString()
                     })