@page
@{
    var request = this.Request;
    var currentPath = $"{request.PathBase}{request.Path}";
}
<div class="card m-3">
    <h5 class="card-header">@currentPath</h5>
    <div class="card-body">
        @this.ViewContext.ExecutingFilePath
    </div>
</div>

<vc:card header="X" body="XXX"></vc:card>

@await Component.InvokeAsync("Card",
                     new {
                         Header = "A2",
                         Body = "222"
                     })
@await Component.InvokeAsync("Card",
                     new {
                         Header = "A1",
                         Body = DateTime.Now.ToString()
                     })