@page
@{
    var request = this.Request;
    var currentPath = this.ViewBag.currentPath as string ?? $"{request.PathBase}{request.Path}" + " :::";
}
<div class="card m-3">
    <h5 class="card-header">@currentPath</h5>
    <div class="card-body">
        @this.ViewContext.ExecutingFilePath
    </div>
</div>
